<div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready To Get Started?</h2>

        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus
          eligendi quos tempora eius assumenda soluta tempore rerum iusto!
          Placeat, magni. Enim natus quibusdam repellat assumenda ipsa.
          Doloribus perferendis vel earum.
        </p>
      </div class= "callout__button">
      <a href="#" class="btn btn--secondary btn--streached">Get Started</a>
    </div>
  </div>