<section class="block container block__domain">
  <header class="block__header">
    <h2>Starting at $9 Per Month</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, quos.</p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter Domain Name Here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block__domain_prices">
    <li><span class="badge badge--secondary">.com $9</span></li>
    <li>.sg $10</li>
    <li>.space $11</li>
    <li>.info $13</li>
    <li>.net $10</li>
    <li>.xyz $7</li>
  </ul>
</section>
