<section class="container block">
  <header class="block__header">
    <h2>Host On The Cloud To Keep Growing</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
      similique!
    </p>
  </header>
  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="features__heading">Super Easy To Use</h3>
      <p class="features__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint
        mollitia porro cum voluptatem beatae, magnam molestiae quos quod
        distinctio! Minima sit saepe temporibus odit asperiores. Quaerat dolore
        consequatur excepturi?
      </p>
      <a href="#" class="link-arrow features__arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.jpg" />
  </article>

  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="features__heading">Simply Fast Website</h3>
      <p class="features__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint
        mollitia porro cum voluptatem beatae, magnam molestiae quos quod
        distinctio! Minima sit saepe temporibus odit asperiores. Quaerat dolore
        consequatur excepturi?
      </p>
      <a href="#" class="link-arrow features__arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/fast.jpg" />
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="features__heading">WordPress Made Easy</h3>
      <p class="features__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint
        mollitia porro cum voluptatem beatae, magnam molestiae quos quod
        distinctio! Minima sit saepe temporibus odit asperiores. Quaerat dolore
      </p>
      <a href="#" class="link-arrow features__arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/wordpress.jpg" />
  </article>

  <article class="grid grid--1x2 features">
    <div class="features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="features__heading">Simply Fast Website</h3>
      <p class="features__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint
        mollitia porro cum voluptatem beatae, magnam molestiae quos quod
        distinctio! Minima sit saepe temporibus odit asperiores. Quaerat dolore
        consequatur excepturi?
      </p>
      <a href="#" class="link-arrow features__arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/support.jpg" />
  </article>
</section>
